# Node modules
node_modules
**/node_modules
npm-debug.log

# Build outputs
dist
build

# Logs
*.log
logs

# OS / Editor settings
.DS_Store
Thumbs.db
.idea
.vscode
*.swp

# Environment / Secrets
.env.*
